* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #302d2d;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.container .item {
  width: 12rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 25px;
  border: 1px solid rgb(144, 128, 128);
  cursor: pointer;
  transition: 0.5s;
  filter: brightness(0.3);
  padding: 10px;
}

.container .item:hover {
  filter: brightness(1.2);
  transform: translateZ(150px) scale(1.1);
}

.container .item:hover + * {
  filter: brightness(0.8);
  transform: translateZ(100px) rotateY(40deg);
}

.container .item:hover + * + * {
  filter: brightness(0.6);
  transform: translateZ(50px) rotateY(20deg);
}

.container .item:has(+ *:hover){
    filter: brightness(0.8);
  transform: translateZ(100px) rotateY(-40deg);
}


.container .item:has(+ * + *:hover){
    filter: brightness(0.6);
  transform: translateZ(50px) rotateY(-20deg);
}

/* .container:has(.item:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
} */
